In [2]:
import pandas as pd
from sqlalchemy import create_engine
import ast

# Postgres username, password, and database name
POSTGRES_ADDRESS = 'localhost'  ## INSERT YOUR DB ADDRESS IF IT'S NOT ON PANOPLY
POSTGRES_PORT = '5432'
POSTGRES_USERNAME = 'niklas'  ## CHANGE THIS TO YOUR PANOPLY/POSTGRES USERNAME
POSTGRES_PASSWORD = '5zjjetPfyVDvsmTNiqL5'  ## CHANGE THIS TO YOUR PANOPLY/POSTGRES PASSWORD 
POSTGRES_DBNAME = 'mit_courses' ## CHANGE THIS TO YOUR DATABASE NAME

# A long string that contains the necessary Postgres login information
postgres_str = f'postgresql://{POSTGRES_USERNAME}:{POSTGRES_PASSWORD}@{POSTGRES_ADDRESS}:{POSTGRES_PORT}/{POSTGRES_DBNAME}'
engine = create_engine(postgres_str)
# Connect to the database
conn = engine.connect()

In [11]:

# Now we can use pandas read_csv function to read in data and convert it to a DataFrame
df = pd.read_csv('course_table_04_06.csv')
df.drop(['topics'], axis=1).to_sql("courses", conn, if_exists='replace', index=False)

# df['topics'] = df['topics'].apply(ast.literal_eval) # convert string representation of list to list
# topics_table = df.explode('topics').reset_index().rename(columns={'topics':'topic',
#                                                                  'id': 'course_id'})[['course_id', 'topic']]
# # Remember to close the connection
# topics_table.to_sql("topics", conn, if_exists="replace", index=False)
# # conn.close()

114

In [10]:

# Now we can use pandas read_csv function to read in data and convert it to a DataFrame
video_table = pd.read_csv('video_table_04_06.csv')

# df['topics'] = df['topics'].apply(ast.literal_eval) # convert string representation of list to list
# topics_table = df.explode('topics').reset_index().rename(columns={'topics':'topic',
#          'id': 'course_id'})[['course_id', 'topic']]

video_table.to_sql("videos", conn, if_exists="replace", index=False)
# Remember to close the connection
# topics_table.to_sql("topics", conn, if_exists="replace", index=False)
# conn.close()

404

In [7]:
video_table.shape

(2290, 9)

In [23]:
postgres_str

'postgresql://niklas:5zjjetPfyVDvsmTNiqL5@localhost:5432/mit_courses'

In [35]:
df.drop('topics', axis=1, inplace=True)

In [38]:
df[['id', 'title', 'description', 'course_url', 'available_videos',
       'view_count', 'popularity_score']].to_sql("courses", conn, if_exists="replace", index=False)

114