In [1]:
import pandas as pd

In [2]:
courses = pd.read_csv("course_table_237.csv")
videos = pd.read_csv("video_table_237.csv")

In [8]:
courses.tail()

,title,description,course_url,topics,available_videos
232,"Brains, Minds and Machines Summer Course",<p>This course explores the problem of intelli...,https://ocw.mit.edu/courses/res-9-003-brains-m...,"['Engineering', 'Computer Science', 'Artificia...",0
233,Leadership and Empowerment: Resources from Gra...,"<p><a href=""https://gsc.mit.edu/gwamit/"" targe...",https://ocw.mit.edu/courses/res-cd-001-leaders...,"['Business', 'Leadership', 'Society', ""Women's...",0
234,"Competency-Based Education: The Why, What, and...",<p>This course will help you develop an unders...,https://ocw.mit.edu/courses/res-cms-502-compet...,['Teaching and Education'],0
235,Exploring Fairness in Machine Learning for Int...,In an effort to build the capacity of the stud...,https://ocw.mit.edu/courses/res-ec-001-explori...,"['Engineering', 'Computer Science', 'Artificia...",0
236,Climate Action Hands-On: Harnessing Science wi...,<p>This course explores how citizen science ca...,https://ocw.mit.edu/courses/res-env-001-climat...,"['Energy', 'Climate', 'Fossil Fuels', 'Enginee...",0

In [20]:
import ast

# Convert strings to lists
for key in data.keys():
    data[key] = ast.literal_eval(data[key])

In [24]:
def turn_string_into_dataframe(video_info):
    for key in data.keys():
        video_info[key] = ast.literal_eval(video_info[key])
    return pd.DataFrame(video_info)

In [40]:
all_videos = []
for idx, row in videos.iterrows():
    video_df = turn_string_into_dataframe(row.to_dict())
    video_df['course_id'] = idx + 1
    all_videos.append(video_df)

all_videos = pd.concat(all_videos)

In [42]:
courses['id'] = courses.index + 1

## Connect to youtube API to get info about all of the videos

In [45]:
from env import API_KEY

In [47]:
from googleapiclient.discovery import build

In [54]:
all_videos['video_ids'].value_counts(dropna=False).sort_values(ascending=False)

ySZtBGAaqbM    2
HKkSPqCOmD0    2
geKBtyDcZZY    1
KUjWMEBSS8Q    1
MlDdfgjpBe0    1
              ..
U13m6L6R58w    1
ZbYAZLQHXSg    1
JtJ3v__Rx7E    1
oJv4dsUID0Q    1
xRLaQ4My3ms    1
Name: video_ids, Length: 2402, dtype: int64

We have two video ids which are represented twice. The first one seems like a mistake on the MIT site, which has posted the same video as the first and last lecture.\
Will have to check how to fix that though.

In [55]:
all_videos.loc[all_videos['video_ids']=='ySZtBGAaqbM']

,video_titles,video_ids,video_number,course_id
0,LECTURE 1: DARWIN AND DESIGN,ySZtBGAaqbM,1.0,174
20,"LECTURE 22: H. G. WELLS ""THE TIME MACHINE"" AND...",ySZtBGAaqbM,21.0,174

In [62]:
all_videos.shape

(2404, 4)

## getting all data

In [ ]:
youtube = build('youtube', 'v3', developerKey=API_KEY)

In [65]:
# Split the video_ids list into chunks of 50
video_ids = list(all_videos['video_ids'].unique())
video_id_chunks = [video_ids[i:i + 50] for i in range(0, len(video_ids), 50)]

In [72]:
# Split the video_aids list into chunks of 50
video_ids = list(all_videos['video_ids'].unique())
video_id_chunks = [video_ids[i:i + 50] for i in range(0, len(video_ids), 50)]

# Initialize an empty list to hold the data
data = []
counter = 1

for chunk in video_id_chunks:
    print(f"Currently on iteration {counter}")
    # Join the video IDs with commas
    ids = ','.join(chunk)
    request = youtube.videos().list(
        part="snippet,statistics",
        id=ids
    )

    response = request.execute()

    for item in response['items']:
        video_id = item['id']
        pub_date = item['snippet']['publishedAt']
        view_count = item['statistics']['viewCount']
        title = item['snippet']['title']

        # Append the data to the list
        data.append({'Video ID': video_id, 'Publishing Date': pub_date, 
                     'View Count': view_count, 'Title': title})
    counter += 1

Currently on iteration 1
Currently on iteration 2
Currently on iteration 3
Currently on iteration 4
Currently on iteration 5
Currently on iteration 6
Currently on iteration 7
Currently on iteration 8
Currently on iteration 9
Currently on iteration 10
Currently on iteration 11
Currently on iteration 12
Currently on iteration 13
Currently on iteration 14
Currently on iteration 15
Currently on iteration 16
Currently on iteration 17
Currently on iteration 18
Currently on iteration 19
Currently on iteration 20
Currently on iteration 21
Currently on iteration 22
Currently on iteration 23
Currently on iteration 24
Currently on iteration 25
Currently on iteration 26
Currently on iteration 27
Currently on iteration 28
Currently on iteration 29
Currently on iteration 30
Currently on iteration 31
Currently on iteration 32
Currently on iteration 33
Currently on iteration 34
Currently on iteration 35
Currently on iteration 36
Currently on iteration 37
Currently on iteration 38
Currently on iteration 39
Currently on iteration 40
Currently on iteration 41
Currently on iteration 42
Currently on iteration 43
Currently on iteration 44
Currently on iteration 45
Currently on iteration 46
Currently on iteration 47
Currently on iteration 48
Currently on iteration 49

In [74]:
df = pd.DataFrame(data)
df

,Video ID,Publishing Date,View Count,Title
0,wzB8Rhm3xCU,2019-05-11T04:56:59Z,34224,1. Introduction (for 1.258J Public Transportat...
1,JPCA2qE9MSw,2019-05-11T04:58:28Z,11810,2. Data Collection Techniques and Program Design
2,MlDdfgjpBe0,2019-05-11T04:58:46Z,2452,3. Modal Characteristics and Roles
3,h5x7-zejY8c,2019-05-11T04:59:15Z,2348,4. Short-range Planning
4,aLqEG43nKVE,2019-05-11T04:59:34Z,1124,5. Short-range Planning (cont.)
...,...,...,...,...
2392,JtJ3v__Rx7E,2011-12-07T01:03:07Z,24640,Lec 16 | MIT RES.6-008 Digital Signal Processi...
2393,oJv4dsUID0Q,2011-12-07T00:23:37Z,24972,Lec 17 | MIT RES.6-008 Digital Signal Processi...
2394,14Vg7GyCVLY,2011-12-07T00:34:28Z,22334,Lec 18 | MIT RES.6-008 Digital Signal Processi...
2395,4Gy1mik0tr4,2011-12-07T00:09:37Z,18076,Lec 19 | MIT RES.6-008 Digital Signal Processi...
2396,xRLaQ4My3ms,2011-12-07T00:35:43Z,22818,Lec 20 | MIT RES.6-008 Digital Signal Processi...

In [77]:
len(all_videos['video_ids'].unique())

2402

## Replacing all videos with a wrong thumbnail on the MIT Page

In [78]:
all_videos.loc[~all_videos['video_ids'].isin(df['Video ID'])]

,video_titles,video_ids,video_number,course_id
6,LECTURE 7: FINITE-STATE MARKOV CHAINS; THE MAT...,-hlXwTx7EZE,7.0,58
1,LECTURE 2: FALLING IN LOVE,roHd4nnTGFc,2.0,68
6,"LECTURE 5: SINGLE PHOTONS, PART 1",EY0SUbG2T6A,7.0,94
7,"LECTURE 5: SINGLE PHOTONS, PART 2",4fa3cx0Hu8s,8.0,94
5,LECTURE 6: CHIRAL LAGRANGIANS,mqLN0G3Z33Y,6.0,98

In [83]:
all_videos.loc[(all_videos['course_id']==94) & (all_videos['video_number']==7), 'video_ids'] = 'TJUXTASd0g0'

In [84]:
all_videos.loc[(all_videos['course_id']==94) & (all_videos['video_number']==8), 'video_ids'] = 'sYS3OCiLDzA'

In [85]:
all_videos.loc[all_videos['course_id']==68]

,video_titles,video_ids,video_number,course_id
0,LECTURE 1: INTRODUCTION,-pb3z2w9gDg,1.0,68
1,LECTURE 2: FALLING IN LOVE,roHd4nnTGFc,2.0,68
2,LECTURE 3: COGNITIVE ARCHITECTURES,2KbvJ3iapbc,3.0,68
3,LECTURE 4: QUESTION AND ANSWER SESSION 1,LuJFPVY1Nzo,4.0,68
4,LECTURE 5: FROM PANIC TO SUFFERING,AO7F0n2Dclc,5.0,68
5,LECTURE 6: LAYERS OF MENTAL ACTIVITIES,qJZ_1a-t_sA,6.0,68
6,LECTURE 7: LAYERED KNOWLEDGE REPRESENTATIONS,oG6FyY2r9G0,7.0,68
7,LECTURE 8: QUESTION AND ANSWER SESSION 2,ATkGXyfuJqs,8.0,68
8,LECTURE 9: COMMON SENSE,o6suzoRLZD4,9.0,68
9,LECTURE 10: QUESTION AND ANSWER SESSION 3,EXXZQjo3twk,10.0,68
10,LECTURE 11: MIND VS. BRAIN: CONFESSIONS OF A D...,6Px0livk6m8,11.0,68
11,LECTURE 12: QUESTION AND ANSWER SESSION 4,LmE_mdugLWE,12.0,68
12,LECTURE 13: CLOSING THOUGHTS,TOLwmtn8Miw,13.0,68

In [87]:
## falling in love
all_videos.loc[(all_videos['course_id']==68) & (all_videos['video_number']==2), 'video_ids'] = '6AS48fTXBBs'

In [88]:
courses.loc[courses['id']==58]

,title,description,course_url,topics,available_videos,id
57,Discrete Stochastic Processes,Discrete stochastic processes are essentially ...,https://ocw.mit.edu/courses/6-262-discrete-sto...,"['Mathematics', 'Discrete Mathematics', 'Proba...",25,58

In [90]:
## markov matrix
all_videos.loc[(all_videos['course_id']==58) & (all_videos['video_number']==7), 'video_ids'] = '0aqgeLTNfQ0'

In [91]:
courses.loc[courses['id']==98]

,title,description,course_url,topics,available_videos,id
97,Effective Field Theory,Effective field theory is a fundamental framew...,https://ocw.mit.edu/courses/8-851-effective-fi...,"['Science', 'Physics', 'Particle Physics']",26,98

In [92]:
## lagrangian whatever
all_videos.loc[(all_videos['course_id']==98) & (all_videos['video_number']==6), 'video_ids'] = 'zqOoSBbcack'

## Add missing data
All videos that could not be found by their thumbnail have now been getting the correct video id added.
We can now make another request with the video id to the youtube API.

In [95]:
missing_videos = all_videos.loc[~all_videos['video_ids'].isin(df['Video ID'])]['video_ids'].unique()

In [96]:
ids = ','.join(missing_videos)
request = youtube.videos().list(
    part="snippet,statistics",
    id=ids
)

response = request.execute()

for item in response['items']:
    video_id = item['id']
    pub_date = item['snippet']['publishedAt']
    view_count = item['statistics']['viewCount']
    title = item['snippet']['title']

    # Append the data to the list
    data.append({'Video ID': video_id, 'Publishing Date': pub_date, 
                 'View Count': view_count, 'Title': title})

In [112]:
df = pd.DataFrame(data)
df.rename(columns={'Title': "title_on_youtube"}, inplace=True)
df.columns = ["_".join(col.lower().split(" ")) for col in df.columns]
df.to_csv("video_viewcount.csv", index=False)

In [113]:
df

,video_id,publishing_date,view_count,title_on_youtube
0,wzB8Rhm3xCU,2019-05-11T04:56:59Z,34224,1. Introduction (for 1.258J Public Transportat...
1,JPCA2qE9MSw,2019-05-11T04:58:28Z,11810,2. Data Collection Techniques and Program Design
2,MlDdfgjpBe0,2019-05-11T04:58:46Z,2452,3. Modal Characteristics and Roles
3,h5x7-zejY8c,2019-05-11T04:59:15Z,2348,4. Short-range Planning
4,aLqEG43nKVE,2019-05-11T04:59:34Z,1124,5. Short-range Planning (cont.)
...,...,...,...,...
2397,0aqgeLTNfQ0,2012-06-29T19:44:57Z,13767,7. Finite-state Markov Chains; The Matrix Appr...
2398,6AS48fTXBBs,2014-03-04T19:17:53Z,401872,2. Falling In Love
2399,TJUXTASd0g0,2014-07-11T19:32:08Z,17811,"5. Single photons, Part 1"
2400,sYS3OCiLDzA,2014-07-11T19:32:03Z,4822,"5. Single photons, Part 2"
2401,zqOoSBbcack,2014-01-13T19:14:14Z,5783,6. Chiral Lagrangians

In [118]:
final_df = all_videos.merge(df, left_on='video_ids', right_on='video_id').drop(['video_ids'], axis=1)

In [122]:
from datetime import datetime
final_df['last_updated'] = datetime.now()

In [123]:
final_df.to_csv("video_table_complete.csv", index=False)
courses.to_csv("course_table_complete.csv", index=False)